<h2>Members</h2>

<input type="text" [(ngModel)]="userFilter.name" placeholder="search by name">
<select (change)="changeRole($event.target.value)">
  <option value="all">All</option>
  <option value="member">Members</option>
  <option value="manager">Managers</option>
  <option value="secretary">Secretarys</option>
  <option value="treasurer">Treasurers</option>
  <option value="ceo">CEOs</option>
  <option value="president">Presidents</option>
</select>
<select (change)="changeSex($event.target.value)">
  <option value="all">All</option>
  <option value="male">Male</option>
  <option value="female">Female</option>
</select>
<select (change)="changeAge($event.target.value)">
  <option value="all">All</option>
  <option value="lt30">Less than 30-year-old</option>
  <option value="lt40">30 To 40-year-old</option>
  <option value="olderthan40">Older than 40</option>
</select>
<div class="container">
  <div *ngFor="let member of members | async | filterBy:userFilter | role:byRole | age:byAge | sex:bySex">
    <div class="panel-info col-md-11">
      <div class="panel-heading">
        <img src="{{member.picture}}" alt="{{member.name}}'s picture">
        <h4>{{member.role}}: {{member.name}}</h4>
        <p id="join-date">Member Since {{member.joinDate}}</p>
      </div>
      <div class="panel-body">
        <p>Age: {{member.age}}</p>
        <p>Sex: {{member.sex}}</p>
        <p>From {{member.location}}</p>
      </div>
      <div class="panel-footer">
        <button (click)="goToDetail(member)">About {{member.name}}</button>
      </div>
      <div *ngIf="currentRoute === '/admin'">
        <app-edit [member]="member"></app-edit>
      </div>
    </div>
  </div>
</div>
